@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');

/* 
  z-index values (top to bottom):

  unit-selector: 9999
  darkscreen: 500

*/

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: 0;
  max-width: 1fr;
  padding: 0;
  overflow: hidden; /* removes scroll bars */
}

a, div {
  font-family: "Jersey 15", sans-serif;
  font-size: 24px;
  color: #262133;

  user-select: none;
}

:focus {
  outline: 0;
  outline-color: transparent;
  outline-style: none;
}

img3 { 
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated;                 /* Universal support since 2021   */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

img {
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.title-text {
  text-align: center;
  margin: 10px;
}

input {
  color: #000;
  background: white;
  border: 2px solid #b4aeb9;
  border-radius: 6px;

  font-family: "Jersey 15", sans-serif;
  font-size: 20px;
  
  font-weight: 400;
  font-style: normal;
}

input:disabled {
  color: #B5C0E5;
  background: #EFE8F2;
  border: 2px solid #B5C0E5;
  border-radius: 6px;

  font-family: "Jersey 15", sans-serif;
  font-size: 20px;
  
  font-weight: 400;

  user-select: none;
}

/* starts hidden */
#darkscreen1 {
  position: absolute;
  top: 0;
  opacity: 0;
  z-index: 500;

  clip-path: inset(30px 0 0 0); /* cut top 50px */
  width: 300px;

  transition: opacity 100ms ease, visibility 100ms ease;
  pointer-events: none;
}

/* Visible (fading in) state */
#darkscreen1.active {
  opacity: 0.8;
  visibility: visible;
  pointer-events: auto;
}

.background {
  background-image: url('images/backgroundEmpty.png');
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 550px;
  z-index: 1;
}

.background2 {
  background-image: url('images/openedMenu.png');
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 900px;
  height: 550px;
  z-index: 0;

  visibility: hidden;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.titlebar {
  height: 30px;
  background: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0);
  app-region: drag;

  top: 0;
  left: 0;

  display: grid;
  grid-template-rows: 30px;
  grid-template-columns: 1fr 23px 23px;
  padding: 3px 8px 5px 0px;
  background-color: #00000000;
  position: relative;
  z-index: 1;
}

.titlebar div {
  background-color: #00000000;
  text-align: center;
}

.item-1 {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
  width: 1fr;
  background-color: #ff0000;
}

.item-2 {
  grid-row: 1 / 1;
  grid-column: 2 / 2;
}

.item-3 {
  grid-row: 1 / 1;
  grid-column: 3 / 3;
}

#minimizeButton {
  padding: 0px;
}

#exitButton {
  padding: 0px;
}

.checkbox-image {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url('images/foldOpenButton2.png');
  background-size: cover;
  cursor: pointer;
  transition: background-image 300ms, transform 100ms, hover 300ms;
}

input[type="checkbox"]:checked + .checkbox-image {
  background-image: url('images/foldedButton.png');
}

.checkbox-image:hover {
  transform: translate(0px, 2px);
}

#sip-btn {
  scale: 100%;
  margin-bottom: 10px;
  z-index: 30;

  transition: transform 300ms ease-out, filter 200ms ease-in-out;
  transform: translateY(0);
}

#sip-btn:active {
  transform: translateY(2px);
  transition: ease-out 70ms;
}

#sip-btn:hover {
  cursor: pointer;
  animation: bounce 300ms ease;
  filter: brightness(1.2);
}

.small-button {
  width: 20px;
  margin: 2px; 
}

button {
  background-color: #ff989800;
  border-color: #00000000;
  -webkit-app-region: no-drag
}

button:hover {
  cursor: pointer;
  filter: brightness(1.4);
  transition: ease-in-out 70ms;
}

button:active {
  transform: translateY(2px);
  scale: 98%;
  transition: ease-out 70ms;
}

.bar-button button:active {
  transform: translateY(1px);
  scale: 95%;
  transition: ease-out 70ms;
}

.main-view {
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: repeat(10, 10%);

  width: 275px;
  height: 488px;

  margin: 10px;

  background-color: #ff000000;
  border: 2px solid #ae00ff00;

  z-index: 323;
}

#timer-icon  {
  position: absolute;
  width: 20px;
  height: 23px;

  transform: translate(73px, -4px);
}

#timer {
  position: relative;
  display: block;
  align-items: center;
  text-align: center;
  justify-content: center;
  grid-column: 1 / 1;
  grid-row: 0 / 0;

  width: 275px;

  font-size: 34px;
  transform: translate(-2px, -10px);
  color: #aaa4b6;

  border: 2px solid #ae00ff00;
}

.bottle-container {
  position: relative;
  align-self: center;
  justify-content: center;
  width: 122px;
  height: 346px;

  transition: filter 200ms;
  transform: translate(0px, 20px);

  border: 2px solid #ae00ff00;
  cursor: pointer;
}

.bottle-container:hover {
  filter: brightness(110%);
}

.bottle-container img {
  position: absolute;
  width: 100%;
  height: 100%;
  scale: 110%;
  bottom: 11px;
  object-fit: contain;
}

.bottle-overlay {
  z-index: 2;
}

#water-fill {
  z-index: 1;
  clip-path: inset(0% 0 0 0); /* top% right bottom left */
  transition: clip-path 0.5s ease;
}

#fill-menu {
  position: absolute;

  background-image: url('images/fillMenu.png');
  background-size: cover;
  background-position: center;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  top: 200px;
  left: 25px;
  transition: bottom 0.5s ease;
  width: 250px;
  height: 150px;
  background-color: #ff000000;
  z-index: 990;

  opacity: 0;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 100ms ease, visibility 100ms ease;
  pointer-events: none;

}

#fill-menu.active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

#fill-percent {
  font-size: 26px;
  position: absolute;
  justify-content: center;
  align-items: center;
  transform: translate(0px, 5px);

  cursor: pointer;
}

#fill-header {
  font-size: 24px;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 15px;
}

.slidecontainer {
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#fill-slider {
  position: relative;
  top: -20px;
  left: 11px;
  width: 88%;
}

.slider {
  -webkit-appearance: none;
  border-radius: 3px;
  border: 3px solid #262133;
  height: 6px;
  background: linear-gradient(to right, #7FE2E2 50%, #5c5964 50%);
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 17px;
  height: 17px;
  border: 0;
  background: url('images/sliderDot.png');
  cursor: pointer;
}

#sip-menu {
  position: absolute;

  background-image: url('images/sipMenuBox.png');
  background-size: cover;
  background-position: center;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  bottom: -200px; /* fully visible at 0px */
  transition: bottom 0.5s ease;
  width: 300px;
  height: 145px;
  background-color: #ff000000;
  z-index: 990;
}

.cell {
  position: relative;
  border: 2px solid #00000000;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.cell-1 {
  grid-column: 2 / 5;
  grid-row: 1 / 10;
  background-color: #ff000000;
}

.cell-2 {
  grid-column: 2 / 5;
  grid-row: 10 / 10;
  background-color: #15ff0000;
}

.cell-3 {
  grid-column: 3 / 3;
  grid-row: 4 / 4;
  justify-content: center;
  background-color: #0026ff;
  z-index: 1;
}

.cell-4 {
  grid-column: 3 / 3;
  grid-row: 3 / 3;
  background-color: #fffb00;
  z-index: 1;
}

.sip-field-img {
  position: relative;
  bottom: 15px;
  z-index: 0;
}

.sip-amount-field {
  background-color: #00ffb300;
  width: 100%;
  top: 20%;
  z-index: 1;
}

.sip-amount-input {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 140px;
  height: 35px;
  background: #fffb1e00;
  border: none;
  outline: none;
  color: #000;

  font-family: "Jersey 15", sans-serif;
  font-size: 20px;
  
  font-weight: 400;
  font-style: normal;
}

.box {
  position: relative;
  border: 2px solid #00000000;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 300px;

  z-index: 5;
}

.box2 {
  position: relative;
  border: 2px solid #00000000;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50px;
  bottom: 6px;

  z-index: 5;
}

.box3 {
  position: relative;
  border: 2px solid #00000000;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50px;
  bottom: -45px;

  z-index: 5;
}

#yes-btn, #no-btn {
  
}

#remaining-oz {
  position: absolute;
  top: 48%;
  width: 100%;

  color: #000000af;
  font-family: "Jersey 15", sans-serif;
  font-size: 22px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  z-index: 20;

  transform: translate(0, 25px);

  background-color: #0026ff00;
  user-select: none;
}

#remaining-ml {
  position: absolute;
  top: 48%;
  width: 100%;

  color: #000;
  font-family: "Jersey 15", sans-serif;
  font-size: 30px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  z-index: 20;

  background-color: #0026ff00;
  user-select: none;
}

.info-view {
  position: absolute;
  display: grid;
  grid-template-rows: repeat(10, 10%);
  grid-template-columns: 118px 118px 118px 118px 118px;
  row-gap: 10px;
  left: 300px;
  top: 30px;

  background-color: #00ff2200;
  border: 2px solid #ff000000;;
  z-index: 3000;
}

h1 {
  display: flex;

  color: #262133;
  font-family: "Jersey 15", sans-serif;
  font-size: 25px;
  font-weight: 400;
  font-style: normal;
  text-align: left;

  z-index: 20;

  margin: 2px;

  text-align: left;

  border: 1px solid #ff000000;
  background-color: #5900ff00;
  user-select: none;
}

#level-number {
  grid-column: 3 / 3;
  grid-row: 0 / 0;

  text-align: center;
  align-items: center;
  justify-content: center;
}

.capacity-block {
  display: flex;
  width: 330px;
  grid-column: 0 / 0;
  grid-row: 3 / 3;

  align-items: center;
  justify-content: left;
}

.goal-block {
  display: flex;
  width: 400px;
  grid-column: 0 / 0;
  grid-row: 4 / 4;

  align-items: center;
  justify-content: left;
}

.reminder-block {
  display: flex;
  width: 250px;
  grid-column: 0 / 0;
  grid-row: 5 / 5;

  align-items: center;
  justify-content: left;
}

#time-input, #goal-input, #capacity-input {
  width: 70px;
  position: relative;
}

#total-today {
  width: 400px;
  grid-column: 0 / 0;
  grid-row: 6 / 6;
}

#average-sip {
  width: 200px;
  grid-column: 0 / 0;
  grid-row: 7 / 7;
}

#grand-total {
  width: 170px;
  grid-column: 0 / 0;
  grid-row: 8 / 8;
}

#hours-total {
  width: 150px;
  grid-column: 3 / 3;
  grid-row: 8 / 8;
}

.fold-btn {
  position: absolute;
  border: 2px solid #00000000;
  display: flex;
  grid-column: 5 / 5;
  grid-row: 1 / 1;
  top: -15px;
  left: 8px;
  justify-content: center;
  align-items: center;

  width: 50px;

  z-index: 300;
}

.quest-board {
  grid-column: 1 / 6;
  grid-row: 9 / 10;

  display: grid;

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 30px 90px;

  border: 1px solid #ff000000;;
  background-color: #5900ff00;

  transform: translate(-2.5px, 200px);
}

.quest {
  display: flex;
  flex-direction: column; /* cool new thing! */
  grid-row: 2 / 2;

  text-align: center;
  justify-content: center;
  align-items: center;

  border: 3px solid #262133;
  border-radius: 5px;
  background-color: #dad6f1;

  margin: 5px;

  transition: background-color 200ms;
}

.quest:hover {
  background-color: #ffe388;
}

.quest-name {
  font-size: 24px;
}

.quest-progress {
  display: block;
  font-size: 20px;
}

.quest-complete {
  position: absolute;
  transform: translate(80px, -34px);
}

.xp-reward {
  font-size: 18px;
  text-align: right;
  position: absolute;
  transform: translate(0px, 0px);
}

#quests-header {
  grid-column: 2 / 2;
  grid-row: 1 / 1;

  text-align: center;
  justify-content: center;
  align-items: center;

  color: rgb(255, 255, 255);
  paint-order: stroke fill;
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: black;

  border: 1px solid #ffffff00;;
  background-color: #00f7ff00;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0);
  }
}

.unit-selector {
  position: absolute;
  display: none;

  flex-wrap: nowrap;        /* no wrapping allowed */
  white-space: nowrap;      /* prevents text inside buttons from wrapping */

  min-width: 80px;
  background: white;
  border: 2px solid #b4aeb9;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 0px 0;
  z-index: 9990;
  
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.unit-selector button, .unit-button {
  font-family: "Jersey 15", sans-serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
}

.unit-selector button:hover {
  background-color: rgb(255, 195, 116);
  border-radius: 6px;
}

#capacity-change-yes,
#capacity-change-no {
	display: none;
}
